
.testimonials{
	margin:100px auto 100px;
	display:grid;
	grid-template-columns : repeat(auto-fit,minmax(350px,1fr));
	grid-gap:20px;
}

.testimonials .card{
	position:relative;
	width:350px;
	margin:0 auto;
	background:#fff;
	padding:20px;
	border-radius:20%;
	box-sizing:border-box;
	text-align:center;
	box-shadow:0 10px 40px rgba(0,0,0,.5);
	overflow:hidden;
}

.testimonials .card .layer{
	position:absolute;
	top:calc(100% - 2px);
	width:100%;
	height:100%;
	background:linear-gradient(#03a9f4,#e91ee3);
	left:0;
	z-index:1;
	transition:0.5s;
}

.testimonials .card:hover .layer{
	top:0;
}

.testimonials .card .content{
	position:relative;
	z-index:2;
}

.testimonials .card .content p{
	font-size:18px;
	line-height:24px;
	color:#fff;
}

.testimonials .card .content .image{
	width:100px;
	height:100px;
	margin:0 auto;
	border-radius:48%;
	overflow:hidden;
	border:4px solid #fff;
	box-shadow:0 10px 20px rgba(0,0,0,.8);
}